@import "themes/frappe.css";
@import "themes/colors.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    /*font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;*/
    font-family: Arial;
    font-size: 14px;
    color: #fff;
}

window#waybar {
    background-color: alpha(@mycolor-background-dark, 1);
    border-bottom: 1px solid alpha(#4d4d4d, 0.8);
    /*border-radius: 15px;*/
    color: #ffc;
    transition-property: background-color;
    transition-duration: .3s;
    margin: 10px;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

button {
    border: none;
}

button:hover {
    background: inherit;
}

#pulseaudio:hover {
    background-color: rgba(5, 5, 5, 0.5);
}

#workspaces {
    border-radius: 100px;
    margin: 5px;
    background-color: @mycolor-islands-dark;
    margin-left: 10px; 
    padding: 0.6rem;
}

#workspaces button {
    color: #ffc;
    border-radius: 50%;
    margin: 0 0.4rem;
    transition: .2s;
    padding: 0;
}

#workspaces button:hover {
    color: #ffc;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #ccc;
    border: 2px solid #ccc;
}

#workspaces button.active {
    background-color: #ffc;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#language {
    background-color: @mycolor-islands-dark;
    padding: 0 0.6rem;
    margin: 5px 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    /* margin-left: 0;*/
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-size: 16px;
    font-weight: 500;
    /*color: #fff;*/
    border-radius: 1rem;
    margin-right: 1rem;
    background-color: transparent;
}

#battery {
    color: @green;
}

#battery.charging, #battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @red;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    color: @yellow;
}

#network {
    
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    border-radius: 1rem 0 0 1rem;
    padding-left: 10px;
}

#pulseaudio.muted {
    
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    padding: 5px;
    min-width: 22px;
    border-radius: 0 100px 100px 0;
    margin-right: 10px;
    font-weight: 700;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
